html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sintony', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1D2E47, #DA6627);
    color: #fff;
}

header {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

header img {
    width: 32%;
    height: auto;
    margin-bottom: 1%;
    pointer-events: none;
}

header::after {
    content: '';
    display: block;
    width: 33%;
    height: 40px; /* Adjust the height as needed */
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    bottom: 2%;
    border: 2px solid #ae120e;
    z-index: -1;
    margin-bottom: 2%;
    margin: auto;
}

nav {
    
    margin-top: 10px;
    z-index: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #AE120E;
    text-decoration: none;
    font-family: 'Titan One', cursive;
    font-weight: bold;
    padding: 7px 20px;
    transition: color 0.3s;
}

nav a:hover {
    background: #FDAB36;
    border-radius: 15px;
    color: #fff;
}

.gallerbee {
    width: 50%;
    background-color: #fff;
    padding: 5px;
    text-align: center;
    flex: 1;
    border-radius: 20px;
    border: 2px solid #ae120e;
    z-index: -1;
    margin: auto;
}

.gallerbee img {
    max-width: 100%; /* Make sure images don't exceed the container width */
    height: auto;
    margin-bottom: 20px; /* Adjust as needed */
    pointer-events: none;
}
.gallerbee h2 {
    color: #ae120e;
    font-family: 'Titan One', cursive;
    font-weight: bold;
    margin-bottom: 2%;
}

.slideshow-container {
    max-width: 100%;
    max-height: 100px;
    position: relative;
    margin-bottom: 1%;
}
.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: 100%;
    margin-bottom: 1%;
}

section {
    padding: 40px;
    text-align: center;
    flex: 1;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0; /* Adjust the distance from the bottom */
    width: 100%;
}
