/* styles.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1D2E47, #DA6627);
    color: #fff;
}

header {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    max-width: 400px; /* Adjust the width of your logo */
    height: auto;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
