/* styles.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1D2E47, #DA6627);
    color: #fff;
}

header {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    position: relative; /* Add relative positioning */
}

header img {
    width: 32%;
    height: auto;
    margin-bottom: 4%;
}

header::after {
    content: '';
    display: block;
    width: 20%;
    height: 40px; /* Adjust the height as needed */
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    justify-content: center;
    bottom: 0;
    border: 2px solid #ae120e;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #AE120E;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
    text-align: center;
    flex: 1;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
